<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результаты поиска навыков</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% if candidates %}
        {% for candidate in candidates %}
        <pre>Имя - {{candidate["name"]}}
            Позиция - {{candidate["position"]}}
            Навыки - {{candidate["skills"]}} 
    </pre>
        {% endfor %}
    {% else %}
        <p>Кандидаты не найдены</p>
    {% endif %}
</body>
</html>
